@font-face {
  font-family: "Pokémon DS";
  src: url("pokemon-ds-font.ttf") format("truetype");
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

html,
body,
#overlay,
.menu,
.stat,
header,
main,
.pokémon-sprites,
#scores {
  width: 100%;
}

html,
body,
#overlay,
.menu,
main,
.pokémon-sprites {
  height: 100%;
}

html,
input,
button {
  color: rgba(255, 255, 255, 1);
  font-family: "Pokémon DS", Arial, Helvetica, sans-serif;
}

body {
  background-attachment: fixed;
}

body,
#overlay,
.menu,
#name-form,
#name-inputs,
button,
#stats,
.stat-section,
.stat-panel,
.stat,
header,
main,
.buttons,
.button-container,
.button,
#water-button-text,
#water-squi-letters,
#scores,
.score-container,
#round {
  display: flex;
}

body,
#overlay,
.menu,
#name-form,
#name-inputs,
button,
#stats,
.stat-section,
.stat-panel,
.stat,
header,
main,
.buttons,
.button-container,
.button,
#water-button-text,
#water-squi-letters,
#scores,
.score-container,
#round {
  align-items: center;
}

body,
#overlay,
.menu,
#name-form,
#name-inputs,
button,
#stats,
.stat-section,
.stat-panel,
.stat,
header,
main,
.buttons,
.button-container,
.button,
#water-button-text,
#water-squi-letters,
#scores,
.score-container,
#round {
  justify-content: center;
}

body,
#overlay,
.menu,
#name-form,
#stats,
.stat-panel,
main,
.button-container,
.score-container,
#round {
  flex-direction: column;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

body,
#overlay {
  background-image: radial-gradient(
    circle at center,
    rgba(51, 51, 51, 1),
    rgba(0, 0, 0, 1)
  );
}

body,
.stat-panel,
main {
  gap: 12px;
}

#overlay {
  left: 0;
  z-index: 9999;
}

#overlay,
.menu {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

#overlay,
#close-icon-container {
  position: fixed;
  top: 0;
}

#overlay.hidden,
.play-icon.hidden,
.stats-icon.hidden,
.menu.hidden,
.scores.hidden,
.round.hidden {
  visibility: hidden;
}

.menu.disabled,
.critical-hit.disabled {
  display: none;
}

.active {
  opacity: 1 !important;
}

.fade-out {
  transition-delay: 2s;
}

.inactive {
  opacity: 0 !important;
}

button,
#close-icon,
#play-icon,
#stats-icon,
.button {
  cursor: pointer;
}

h1 {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
  font-size: 90px;
}

#close-icon-container {
  right: 0;
}

#close-icon,
#play-icon,
#stats-icon,
.pokémon-sprites,
.button-text {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
}

#close-icon,
#play-icon,
#stats-icon {
  fill: rgba(255, 255, 255, 1);
  height: 30px;
  width: 30px;
}

#close-icon:hover,
#play-icon:hover,
#stats-icon:hover {
  filter: drop-shadow(0px 1.5px 1.5px rgba(255, 255, 255, 1));
  transform: scale(1.05);
}

#name-title,
#post-game-versus {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 0px rgba(224, 224, 224, 1), 0px 2px 0px rgba(204, 204, 204, 1),
    0px 3px 0px rgba(184, 184, 184, 1), 0px 4px 0px rgba(163, 163, 163, 1),
    0px 5px 0px rgba(143, 143, 143, 1), 0px 6px 0px rgba(122, 122, 122, 1),
    0px 7px 0px rgba(102, 102, 102, 1), 0px 8px 0px rgba(82, 82, 82, 1),
    0px 9px 0px rgba(61, 61, 61, 1), 0px 10px 0px rgba(41, 41, 41, 1),
    0px 11px 0px rgba(20, 20, 20, 1);
}

#name-form,
#scores {
  gap: 64px;
}

#name-inputs,
.buttons,
.button-container {
  gap: 16px;
}

input {
  caret-color: transparent;
  height: 20px;
  outline: none;
  width: 300px;
}

input,
button,
#play-icon,
#stats-icon,
#close-icon,
.button,
.pokémon-sprites {
  transition: 0.75s all ease-in-out;
}

input,
button,
.stat-panel,
.button {
  border-color: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 12px;
}

input,
button,
.stat-panel {
  background-image: radial-gradient(
    circle at center,
    rgba(61, 61, 61, 1),
    rgba(11, 11, 11, 1)
  );
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
}

input,
button {
  font-weight: 900;
}

input,
#continue-button {
  font-size: 48px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
}

input::placeholder {
  color: rgba(41, 41, 41, 1);
}

input:hover,
button:hover,
.button:hover,
.pokémon-sprites:hover {
  filter: brightness(1.2);
}

input:hover,
button:hover,
.button:hover {
  transform: scale(1.03);
}

input:focus {
  transform: scale(1.06);
}

#player-name-input,
#post-game-player-name,
#menu-title-player-name,
#score-player,
.player-name {
  color: rgb(100, 100, 255);
}

#rival-name-input,
#post-game-rival-name,
#menu-title-rival-name,
#score-rival,
.rival-name {
  color: rgb(255, 100, 100);
}

#continue-button {
  height: 50px;
  width: 180px;
}

#continue-cont-letters,
#continue-i-letter {
  margin-right: -2px;
}

#post-game-player-name,
#menu-title-player-name {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(90, 90, 224, 1),
    0px 2px 0px rgba(82, 82, 204, 1), 0px 3px 0px rgba(73, 73, 184, 1),
    0px 4px 0px rgba(65, 65, 163, 1), 0px 5px 0px rgba(57, 57, 143, 1),
    0px 6px 0px rgba(49, 49, 122, 1), 0px 7px 0px rgba(41, 41, 102, 1),
    0px 8px 0px rgba(33, 33, 82, 1), 0px 9px 0px rgba(24, 24, 61, 1),
    0px 10px 0px rgba(16, 16, 41, 1), 0px 11px 0px rgba(8, 8, 20, 1);
}

.post-game-result.win {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 224, 0, 1),
    0px 2px 0px rgba(0, 204, 0, 1), 0px 3px 0px rgba(0, 184, 0, 1),
    0px 4px 0px rgba(0, 163, 0, 1), 0px 5px 0px rgba(0, 143, 0, 1),
    0px 6px 0px rgba(0, 122, 0, 1), 0px 7px 0px rgba(0, 102, 0, 1),
    0px 8px 0px rgba(0, 82, 0, 1), 0px 9px 0px rgba(0, 61, 0, 1),
    0px 10px 0px rgba(0, 41, 0, 1), 0px 11px 0px rgba(0, 20, 0, 1);
}

.post-game-result.win,
#rounds-won-won-text,
#rounds-won-number,
#win-percent,
#total-rounds-won-won-text,
#total-rounds-won-number,
#total-win-percent-win-text,
#total-win-percent-number,
.player-attack-effectiveness.win,
.rival-attack-effectiveness.win,
.round-result.win {
  color: rgba(0, 255, 0, 1);
}

.post-game-result.lose {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(224, 0, 0, 1),
    0px 2px 0px rgba(204, 0, 0, 1), 0px 3px 0px rgba(184, 0, 0, 1),
    0px 4px 0px rgba(163, 0, 0, 1), 0px 5px 0px rgba(143, 0, 0, 1),
    0px 6px 0px rgba(122, 0, 0, 1), 0px 7px 0px rgba(102, 0, 0, 1),
    0px 8px 0px rgba(82, 0, 0, 1), 0px 9px 0px rgba(61, 0, 0, 1),
    0px 10px 0px rgba(41, 0, 0, 1), 0px 11px 0px rgba(20, 0, 0, 1);
}

.post-game-result.lose,
#rounds-lost-lost-text,
#rounds-lost-number,
#critical-hits-text,
#critical-hits-number,
#loss-percent,
#total-rounds-lost-lost-text,
#total-rounds-lost-number,
#total-loss-percent-loss-text,
#total-loss-percent-number,
#total-critical-hits-critical-hits-text,
#total-critical-hits-number,
.critical-hit,
.player-attack-effectiveness.lose,
.rival-attack-effectiveness.lose,
.round-result.lose {
  color: rgba(255, 0, 0, 1);
}

#rounds-drawn-draw-text,
#rounds-drawn-number,
#draw-percent,
#total-rounds-drawn-drawn-text,
#total-rounds-drawn-number,
#total-drawn-percent-draw-text,
#total-draw-percent-number,
.player-attack-effectiveness.draw,
.rival-attack-effectiveness.draw,
.round-result.draw {
  color: rgba(0, 0, 255, 1);
}

#post-game-rival-name,
#menu-title-rival-name {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(224, 90, 90, 1),
    0px 2px 0px rgba(204, 82, 82, 1), 0px 3px 0px rgba(184, 73, 73, 1),
    0px 4px 0px rgba(163, 65, 65, 1), 0px 5px 0px rgba(143, 57, 57, 1),
    0px 6px 0px rgba(122, 49, 49, 1), 0px 7px 0px rgba(102, 41, 41, 1),
    0px 8px 0px rgba(82, 33, 33, 1), 0px 9px 0px rgba(61, 24, 24, 1),
    0px 10px 0px rgba(41, 16, 16, 1), 0px 11px 0px rgba(20, 8, 8, 1);
}

#stats,
.stat-section {
  gap: 24px;
}

.stat-panel {
  height: auto;
  width: 500px;
}

.stat-panel,
.button {
  background-image: radial-gradient(
    circle at center,
    rgba(81, 81, 81, 1),
    rgba(21, 21, 21, 1)
  );
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.stat {
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 1));
  font-size: 34px;
  justify-content: space-between;
}

.stat,
#round {
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 3.5px 3.5px rgba(86, 73, 92, 1),
    4.5px 4.5px rgba(86, 73, 92, 1);
}

.menu {
  gap: 48px;
}

#critical-hits-text,
#critical-hits-number,
#total-critical-hits-critical-hits-text,
#total-critical-hits-number,
.critical-hit {
  text-shadow: 3px 3px rgba(0, 0, 0, 1), 3.5px 3.5px rgba(255, 255, 0, 1),
    4.5px 4.5px rgba(255, 255, 0, 1);
}

#header-title {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#fire-title-text {
  text-shadow: 0px 1px 0px rgba(224, 90, 0, 1), 0px 2px 0px rgba(204, 82, 0, 1),
    0px 3px 0px rgba(184, 73, 0, 1), 0px 4px 0px rgba(163, 65, 0, 1),
    0px 5px 0px rgba(143, 57, 0, 1), 0px 6px 0px rgba(122, 49, 0, 1),
    0px 7px 0px rgba(102, 41, 0, 1), 0px 8px 0px rgba(82, 33, 0, 1),
    0px 9px 0px rgba(61, 24, 0, 1), 0px 10px 0px rgba(41, 16, 0, 1),
    0px 11px 0px rgba(20, 8, 0, 1);
}

#fire-title-text,
#fire-button-text,
.player-pokémon-name.charmander,
.rival-pokémon-name.charmander {
  color: rgba(255, 100, 0, 1);
}

.fire-title-letters {
  margin-right: -28px;
}

#grass-title-text {
  text-shadow: 0px 1px 0px rgba(0, 224, 90, 1), 0px 2px 0px rgba(0, 204, 82, 1),
    0px 3px 0px rgba(0, 184, 73, 1), 0px 4px 0px rgba(0, 163, 65, 1),
    0px 5px 0px rgba(0, 143, 57, 1), 0px 6px 0px rgba(0, 122, 49, 1),
    0px 7px 0px rgba(0, 102, 41, 1), 0px 8px 0px rgba(0, 82, 33, 1),
    0px 9px 0px rgba(0, 61, 24, 1), 0px 10px 0px rgba(0, 41, 16, 1),
    0px 11px 0px rgba(0, 20, 8, 1);
}

#grass-title-text,
#grass-button-text,
.player-pokémon-name.bulbasaur,
.rival-pokémon-name.bulbasaur {
  color: rgba(0, 255, 100, 1);
}

#water-title-text {
  text-shadow: 0px 1px 0px rgba(0, 90, 224, 1), 0px 2px 0px rgba(0, 82, 204, 1),
    0px 3px 0px rgba(0, 73, 184, 1), 0px 4px 0px rgba(0, 65, 163, 1),
    0px 5px 0px rgba(0, 57, 143, 1), 0px 6px 0px rgba(0, 49, 122, 1),
    0px 7px 0px rgba(0, 41, 102, 1), 0px 8px 0px rgba(0, 33, 82, 1),
    0px 9px 0px rgba(0, 24, 61, 1), 0px 10px 0px rgba(0, 16, 41, 1),
    0px 11px 0px rgba(0, 8, 20, 1);
}

#water-title-text,
#water-button-text,
.player-pokémon-name.squirtle,
.rival-pokémon-name.squirtle {
  color: rgba(0, 100, 255, 1);
}

#play-icon,
#stats-icon {
  align-self: flex-start;
  padding-right: 2px;
  padding-top: 2px;
}

.button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  height: 225px;
  width: 225px;
}

.button:hover {
  box-shadow: none;
  outline-style: solid;
  outline-width: 2px;
}

#fire-button:hover {
  border-color: rgba(128, 64, 0, 1);
  filter: drop-shadow(0px 1px 2px rgba(255, 128, 0, 1));
  outline-color: rgba(255, 128, 0, 1);
}

#grass-button:hover {
  border-color: rgba(0, 128, 64, 1);
  filter: drop-shadow(0px 1px 2px rgba(0, 255, 128, 1));
  outline-color: rgba(0, 255, 128, 1);
}

#water-button:hover {
  border-color: rgba(0, 64, 128, 1);
  filter: drop-shadow(0px 1px 2px rgba(0, 128, 255, 1));
  outline-color: rgba(0, 128, 255, 1);
}

.pokémon-sprites:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
}

.button-text,
#scores {
  font-size: 56px;
}

#fire-button-text {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 3px 0px rgba(143, 57, 0, 1),
    0px 6px 0px rgba(122, 49, 0, 1), 0px 9px 0px rgba(61, 24, 0, 1),
    0px 12px 0px rgba(41, 16, 0, 1);
}

#grass-button-text {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 3px 0px rgba(0, 143, 57, 1),
    0px 6px 0px rgba(0, 122, 49, 1), 0px 9px 0px rgba(0, 61, 24, 1),
    0px 12px 0px rgba(0, 41, 16, 1);
}

#water-button-text {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 3px 0px rgba(0, 58, 143, 1),
    0px 6px 0px rgba(0, 49, 122, 1), 0px 9px 0px rgba(0, 24, 61, 1),
    0px 12px 0px rgba(0, 16, 41, 1);
}

#water-squ-letters,
#water-squi-letters {
  margin-right: -3px;
}

#scores,
#round {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
  text-align: center;
}

#scores.hidden {
  height: 122px;
  width: 1365px;
}

.score-container {
  gap: 8px;
}

#score-player {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 0px rgba(75, 75, 191, 1),
    0px 4px 0px rgba(50, 50, 128, 1), 0px 6px 0px rgba(25, 25, 64, 1),
    0px 8px 0px rgba(13, 13, 32, 1);
}

#score-rival {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 0px rgba(191, 75, 75, 1),
    0px 4px 0px rgba(128, 50, 50, 1), 0px 6px 0px rgba(64, 25, 25, 1),
    0px 8px 0px rgba(32, 13, 13, 1);
}

#round {
  font-size: 34px;
  gap: 14px;
}

#round.hidden {
  height: 329px;
  width: 574px;
}

.go-text,
.used-text,
.pre-effectiveness-text,
.versus-text {
  font-weight: 599;
}

.player-pokémon-attack.charmander,
.rival-pokémon-attack.charmander {
  color: rgba(219, 163, 128, 1);
}

.player-pokémon-attack.bulbasaur,
.rival-pokémon-attack.bulbasaur {
  color: rgba(163, 219, 128, 1);
}

.player-pokémon-attack.squirtle,
.rival-pokémon-attack.squirtle {
  color: rgba(128, 163, 219, 1);
}
